P1 Story10.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nombre">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="lang" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="edad" type="xs:float"/>
  <xs:element name="sueldo" type="xs:float"/>
  <xs:element name="jugador1">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="edad"/>
        <xs:element ref="sueldo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jugador2">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="edad"/>
        <xs:element ref="sueldo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jugador3">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="edad"/>
        <xs:element ref="sueldo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jugador4">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="edad"/>
        <xs:element ref="sueldo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jugador5">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="edad"/>
        <xs:element ref="sueldo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jugador6">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="edad"/>
        <xs:element ref="sueldo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jugador7">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="edad"/>
        <xs:element ref="sueldo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jugador8">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="edad"/>
        <xs:element ref="sueldo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ranking" type="xs:byte"/>
  <xs:element name="jugadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="jugador1"/>
        <xs:element ref="jugador2"/>
        <xs:element ref="jugador3"/>
        <xs:element ref="jugador4"/>
        <xs:element ref="jugador5"/>
        <xs:element ref="jugador6"/>
        <xs:element ref="jugador7"/>
        <xs:element ref="jugador8"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="equipo1">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="ranking"/>
        <xs:element ref="jugadores"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="category"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="equipo2">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="ranking"/>
        <xs:element ref="jugadores"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="category"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="equipo3">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="ranking"/>
        <xs:element ref="jugadores"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="category"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="equipo4">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nombre"/>
        <xs:element ref="ranking"/>
        <xs:element ref="jugadores"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="category"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="liga">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="equipo1"/>
        <xs:element ref="equipo2"/>
        <xs:element ref="equipo3"/>
        <xs:element ref="equipo4"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>